:root {
    --text-color: #222;
    --bg-color: #fff;
    --accent-color: #d23669;
    --text-color--light: rgb(216, 203, 203);
    --border-color: rgba(0, 0, 0, .1);
}

.dark-mode {
    --text-color: #fff;
    --bg-color: #363c48;
    --accent-color: #ffa7c4;
    --border-color: rgba(255, 255, 255, .1);
    transition: 
        color 0.4s ease,
        background-color 0.4s ease;
}

/* GLOBAL */
html {
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
}

*, *::after, *::before {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: var(--bg-color);
    font-size: 16px;
    line-height: 1.5;
    font-family: "Arial", sans-serif;
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}

/* CONTAINER */
.container {
    width: 100%;
    max-width: 1010px;
    padding-left: 25px;
    padding-right: 25px;
    margin-left: auto;
    margin-right: auto;
}

/* MAIN-CONTENT */
.main-content {
    flex-grow: 1;
}

.site-header {
    margin-bottom: 64px;
}

.site-header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
}

.site-logo {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
}

.dark-mode-btn {
    color: var(--text-color);
    background-color: transparent;
    display: inline-block;
    border: none;
    cursor: pointer;
    font-weight: 600;
}

.about-me {
    display: flex;
    align-items: center;
}

.about-me__link {
    text-decoration: none;
    color: var(--accent-color);
    cursor: pointer;
    transition: text-decoration 0.4s ease;
}

.about-me__link:hover {
    text-decoration: underline;
}

.profile-img-wrapper {
    margin-right: 24px;
}

.profile-img {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.about-me__title {
    display: flex;
    flex-direction: column;
    font-size: 24px;
}


.info__container {
    padding-top: 50px;
    padding-bottom: 50px;
}

.info__item:not(:last-child) {
    margin-bottom: 32px;
}

.info__link {
    display: inline-block;
    color: var(--accent-color);
    text-decoration: none;
    font-size: 36px;
    font-weight: 700;
}

.info__link:hover {
    text-decoration: underline;
}

.info__time {
    font-style: italic;
    display: block;
    margin-bottom: 16px;
}

.info__defition {
    margin: 0;
}

.site-footer__container {
    display: flex;
    justify-content: flex-end;
    padding-top: 24px;
    padding-bottom: 24px;
}

.site-footer__links {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
}

.site-footer__links-item:not(:last-child) {
    margin-right: 32px;
}

.site-footer__link {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: var(--accent-color);
}

.site-footer__link:hover {
    text-decoration: underline;
}

/* ERROR PAGE */
.error-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
}

.portfolio__title {
    margin-top: 0;
    margin-bottom: 32px;
    font-size: 32px;
    font-weight: 700;
}

.card {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;
}

.card__item {
    border: 1px solid var(--border-color);
    margin-bottom: 30px;
    width: 300px;
    padding-bottom: 16px;
    margin-right: 30px;
    box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 24px;
    border-radius: 5px;
}

.card__img {
    display: block;
    width: 100%;
    margin-bottom: 16px;
    width: 300px;
    height: 200px;
}

.card__info {
    padding-left: 10px;
    padding-right: 10px;
}

.card__title {
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 24px;
}

.card__defination {
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 18px;
}

.card__link {
    text-decoration: none;
    color: var(--accent-color);
    font-size: 18px;
    display: inline-block;
}

.card__link:hover {
    text-decoration: underline;
}